{% load custom_filters %}
<div class="secondary-header">
    <div class="general-info" style="display: flex; ">
        <div>Криптовалюты: {{ data.data.total_crypto_dex_currencies|formatNumbers}}</div>
        <div>Биржи: {{ data.data.active_exchanges }}</div>
        <div>Рын. кап.: ${{ data.data.quote.USD.total_market_cap|formatNumbers }}</div>
        <div>Объем за 24ч: {{ data.data.quote.USD.total_volume_24h|formatNumbers }}</div>
        <div>Доминирование: BTC: {{ data.data.btc_dominance|floatformat:1 }}% ETH: {{ data.data.eth_dominance|floatformat:1 }}%</div>
        <div>Fear&Greed:</div>
    </div>
    <div class="btn-content-add">
        <a class="add-coin" href="{% url 'add_crypto' %}">Разместить криптовалюту</a>
    </div>
</div>
    

<div class="added-coins">
    <table id="new_coins">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Символ</th>
            <th>Цена</th>
            <th>Циркулир. предложение</th>
        </tr>
        {% for el in db_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ el.coin_name }}</td>
                <td>{{ el.coin_symbol }}</td>
                <td>{{ el.coin_price }}</td>
                <td>{{ el.coin_count }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
    
<table id="crypto-table">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Символ</th>
        <th>Цена</th>
        <th>%1ч</th>
        <th>%24ч</th>
        <th>%7дн</th>
        <th>Рын. кап.</th>
        <th>Объем (24ч)</th>
        <th>Циркулир. предложение</th>
        <th>Последние 7 дней
            <div id='chart-div'></div>
        </th>
    </tr>
</table>


<script>
    function formatNumber(number) {
        const digits = Math.floor(Math.log10(number)) + 1;
        let label, divisor ;
        if (digits >= 7 && digits < 10) {
            label = 'M';
            divisor = 1e6;
        } else if (digits >= 10 && digits < 13) {
            label = 'B';
            divisor = 1e9;
        } else if (digits >= 13) {
            label = 'T';
            divisor = 1e12;
        } else {
            label = 'K';
            divisor = 1e3;
        }
        return `${(number / divisor).toFixed(2)} ${label}`;
    };



    function fetchCryptoData() {
        console.log("Запрос API отправлен:", new Date().toLocaleTimeString());
        fetch('api/crypto/').then(response => response.json())
        .then(data => {
            console.log(data);
            let cryptoTable = document.getElementById("crypto-table");
            cryptoTable.innerHTML = `<tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Символ</th>
                        <th>Цена</th>
                        <th>%1ч</th>
                        <th>%24ч</th>
                        <th>%7дн</th>
                        <th>Рын. кап.</th>
                        <th>Объем (24ч)</th>
                        <th>Циркулир. предложение</th>
                        <th>Последние 7 дней
                            <div id='chart-div'></div>
                        </th>
                    </tr>`;
            data.forEach((crypto, index) => {
                const coinCapit = Math.round((crypto.quote.USD.market_cap))
                const formattedCoinCapit = coinCapit.toLocaleString('en-US') // Разделяем число на разряды
                const formattedVolume = Math.round(crypto.quote.USD.volume_24h).toLocaleString('en-US')
                let row = `<tr>
                        <td>${index + 1}</td>
                        <td>${crypto.name}</td>
                        <td>${crypto.symbol}</td>
                        <td>${(crypto.quote.USD.price).toFixed(2)}$</td>
                        <td>${(crypto.quote.USD.percent_change_1h).toFixed(2)}%</td>
                        <td>${(crypto.quote.USD.percent_change_24h).toFixed(2)}%</td>
                        <td>${(crypto.quote.USD.percent_change_7d.toFixed(2))}%</td>
                        <td>$${formattedCoinCapit}</td>
                        <td>$${formattedVolume}</td>
                        <td>${formatNumber(crypto.total_supply)}</td>
                        <td>Последние 7 дней
                            <div id='chart-div'></div>
                        </td>
                    </tr>`;
                cryptoTable.innerHTML += row
            });
            
        });
    };
    setInterval(fetchCryptoData, 60000);
    


    // function fetchBinanceApi() {
    //     fetch('api/binance/').then(response => response.json()).then(data => {
    //         Plotly.newPlot('chart-div', [{
    //             x: data.timestamps,
    //             y: data.prices,
    //             mode: 'lines'
    //         }]);
    //     });
    // };

    window.onload = function () {
        console.log("Страница загружена, запускаем API");
        fetchCryptoData();
        // fetchBinanceApi();
    };
</script>

